@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1517398741578-fc1e1a3c6c1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1620420522286-994c1e94d863?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    font-family: 'Lato', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

/* Pseudo selector to add dark overlay  */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

body * {
    z-index: 1
}

h1 {
    font-size: 60px;
    margin: -80px 0 40px;
}

.year {
    font-size: 220px;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.countdown {
    display: none;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    margin: 0 0 5px;
}


@media (max-width: 500px) {
    html {
        overflow: hidden;
    }

    body {
        position: relative;
    }

    .year {
        font-size: 155px;
        bottom: 0;
        top: 48px;
    }

    h1 {
        font-size: 45px;
    }

    .time {
        margin: 5px;
    }

    h2 {
        font-size: 12px;
        margin: 0
    }

    .time small {
        font-size: 10px;
    }
}